@charset "utf-8";


body { font-family: 'Roboto', 'Noto Sans KR', sans-serif !important;}

.slide { width: 100%; height: 646px; overflow:hidden ;}
.slide_outer .slide_inner {background-size: cover; background-repeat:no-repeat; height:646px;position: relative;}
.slide_outer .slide_inner:nth-child(1) {background-image:url(../image/slider1.jpg) }
.slide_outer .slide_inner:nth-child(2) {background-image: url(../image/slider2.jpg) }
.slide_outer .slide_inner:nth-child(3) {background-image: url(../image/slider3.jpg) }
.slide .text {text-align: center; position: absolute; top:40% ;left: 50%; transform: translate(-50%,-40%); transition: all 2s;}
.slide .text h2 { font-size:52px; color:#fff; padding-bottom: 20px; margin-bottom: 20px; text-transform: uppercase;
text-shadow: 1px 2px 2px rgba(0,0,0,0.3);}
.slide .text p { font-size:18px ; color: #fff;line-height: 180%;text-transform: uppercase}
.slide_outer {position: relative;}
.slide_outer a.btn > span { position: absolute; top: 60%;left: 50%;transform: translate(-50%,-60%); border:1px solid #fff; padding: 5px 30px;font-size:14px;margin-top: 15px;color:#fff; transition: all 2s;}
.slide_outer a.btn > span:hover {color: #000;background: #fff;}
/* 슬라이드 순서(도트)버튼 */
.slide_outer .dot_box {position: absolute ;bottom: 20px ; width: 100%; text-align: center;}
.slide_outer .dot_box a { display: inline-block; width:15px ;height: 15px; background:transparent; border: 1px solid #fff;border-radius: 50% ; margin:0 5px;}
.slide_outer .dot_box a.active { background: rgba(255, 255, 255, 1);}

/* 슬라이드 화살표 */
.slide_outer .arr {font-size: 40px; position: absolute; top:50%;  transform: translateY(-50%); font-size: 50px; color: rgba(255,255,255,0.6);}
.slide_outer .prev {left: 50px;}
.slide_outer .next {right: 50px;}     

.our_work { padding: 80px 0; transition:all 2s;}
.our_work h2 {text-align: center; font-size: 2em; font-weight: 600;color: #2a2a2a;margin-bottom: 30px;text-transform: uppercase}
.our_work p {text-align: center; font-size: 15px; line-height: 180%;color:#666; padding-bottom: 50px;}
.our_work ul li { float: left; width: 25%;padding:0 15px; transition: all 2s;text-align: center;}
.our_work ul li img {width: 100%; padding: 5px 0;}
.our_work ul li h3 { font-size: 20px; color: #333; padding-top:25px;text-transform: uppercase; font-weight: 400;}
.our_work ul li p {font-size:14px ; color: #666; line-height: 160%;
padding:10px 0 25px;}
.our_work ul li span { font-size: 14px; color: #999;padding: 0 25px;border: 1px #ddd solid;background: #fff;margin-top: 10px;display: inline-block; line-height: 40px;cursor: pointer; transition: all 2s;}
.our_work ul li span:hover {background: #333;color: #fff;   border: 1px #333 solid;}

.banner { background: url(../image/onlines_bg.jpg) no-repeat; width:100%; height: 322px; background-size: cover; background-attachment: fixed; background-position: center; position: relative; }
.banner .text {position: absolute; top:50%; left:50%; transform:translate(-50%,-50%);text-align: center;transition: all 2s;}
.banner h2 {font-size: 2em;text-transform: uppercase;
    color: #fff;margin: 0 auto 20px;font-weight: 400; margin-bottom: 20px;}
.banner p { margin: 0 0 10px;line-height: 180%; color:#fff;
    font-size: 15px;}    
.banner span {color:#fff; border:1px solid #fff;padding: 8px 25px;
    font-size: 14px;line-height: 150%;display: inline-block;    margin: 10px auto 0;}
.banner span:hover {background: #fff; color: #000;
}

.product {padding:80px}
.product .tit { padding-bottom: 50px; text-align: center;}
.product .tit h2 { font-size: 2em; color:#2a2a2a;margin: 0 auto;font-weight: 600;text-transform: uppercase; padding-bottom:20px ;}

.product .gallery ul li { float:left; width:33.333%; padding: 10px 31px; }
.product .gallery ul li img { width: 100%; height: 280px;}
.product .gallery ul li img:hover {opacity: 0.5;} 
.product .gallery ul li p { font-size: 14px; color:#666; padding: 10px 0 20px; text-align: center;}

.video { width: 100%; padding: 80px 0; background: #f1f1f1 ; text-align: center; transition: all 2s;}
.video .tit h2 { font-size: 2em;color: #2a2a2a; margin: 0 auto;
    font-weight: 600; text-transform: uppercase;padding-bottom: 20px;}
.video .tit p {color: #333; font-size: 15px; padding:20px 0 50px; }   
.vide .utube iframe { width: 100%; height: 100%;}

.board_box { padding:80px 0;}
.board_box ul li {float: left; width: 33.333%;padding: 0 15px; transition: all 2s;}
.board_box h3 {font-size: 18px ; color: #333; text-align:center; font-weight: 600; text-transform: uppercase;}
.board_box hr { margin: 15px 0; color: #666;height: 1px;}
.board_box .notice tr { border-bottom: 1px #ddd solid;}
.board_box .notice .sub { font-size: 14px; color:#666; text-align: left; padding: 10px 0;}
.board_box .notice td { font-size: 14px; color: #999; text-align: right; padding: 10px 0;}
.board_box .csbox {transition: all 2s;}
.board_box .csbox h2 { font-size: 28px; color: #3f86cf; font-weight: 600;
    text-transform: uppercase; text-align: center;}
.board_box .csbox p { margin-bottom: 10px; font-size: 15px; color:#666; line-height: 180%; text-align: center;}
.board_box .btn_outer {text-align: center;}    
.board_box .csbox .btn {font-size: 14px; line-height: 150%; color: #999; display: inline-block; margin: 5px; padding: 8px 20px; border: 1px solid #ddd; transition: all 2s;} 
.board_box .csbox .btn:hover { background: #666; color: #fff; border: 1px #666 solid;}

